@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Newsreader:wght@300;400;500;600;700;800&display=swap');



*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Karla', 'Newsreader', sans-serif;
}
body{
    background: #c9c3c3;
}
.heading-section{
    color:#5d5355;
    margin:2rem 0 1rem 0;
    padding: 1rem;
    text-align: center;
    
    h1{
        letter-spacing:3px;
        font-weight:900;
        font-size:2.5rem;
        font-family:'Newsreader';
    }
    h2{
        margin-top:1rem;
        font-family:'Karla';
        font-weight:400;
        font-style:italic;
    }
}
.container{
    width:26rem;
    min-height: 480px;
    // width:70%;
    margin: 0 auto;
    background-color: #978383;
    color: white;
}

.top-section{
    text-align: center;
    padding: 1.5rem 1rem 0.6rem 1rem;
    .wrong-input{
        display: none;
        text-align: left;
        font-family:'Newsreader';
        color: #6e0000;
        padding: 0.2rem 0.6rem;
        &::first-letter{
            text-transform: capitalize;
        }
    }
    .location-section{
        display: flex;
        justify-content: space-between;
        padding-bottom:0.2rem;
        .search-section{
            display: flex;
            #search{
                height: 2rem;
                border: 1px solid white;
                border-radius: 20px;
                margin-right:0.5rem;
                padding-left: 10px;
                font-size: 0.9rem;
                font-family:'Karla';
                color:#5d5355;
                &::placeholder{
                    font-size: 0.9rem;
                    padding-left: 0.1rem;
                    font-family: 'Karla';
                }
            }
            .fa-search{
                font-size: 1.8rem;
                padding-top:3px;
                &:hover{
                    cursor: pointer;
                }
            }
        }
        #dropdown{
            display: block;
            height: 2rem;
            font-size:1rem;
            border: 1px solid white;
            border-radius: 20px;
            padding:0 5px;
            color:#5d5355;
            &:hover{
                cursor:pointer;
            }
        }
        
    }
    
    .current-location{
        font-size: 2rem;
        position:relative;
        &:hover{
            cursor:pointer;
        }
        &:hover .tooltip{
            display:block;
        }
        .tooltip{
            display: none;
            padding:0.3rem 0.8rem;
            position: absolute;
            top: 2.5rem;
            left:0rem;
            font-size: 0.8rem;
            font-family:'Karla';
            font-weight: 700;
            color: #5d5355;
            background-color:White;
            border: 1px solid white;
            border-radius: 20px;
        }
    }
}


.date-section{
    display: flex;
    justify-content: space-between;
    padding:1rem;
    .date{
        display: flex;
        h4{
            margin: 0 2px;
            font-family: 'Newsreader';
            font-weight: 500;
        }
        h4:first-child{
            margin-right:5px;
        }
    }
    .time-section{
        display: flex;
        h2{
            
            font-weight: 500;
            font-size: 2.5rem;
        }
    }
    
}
.main-section{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    padding-top:0;
    margin-bottom:1.5rem;
    .current-weather-section{
        h2{
            font-size: 1rem;
        }
        .degrees{
            margin: 1rem 0;
            font-size:3rem;
        }
        .current-weather{
            text-transform: capitalize;
        }
    }
    .weather-icon-section{
        margin:0.3rem 0.5rem;
        .weather-icon{
            display: block;
            width:9rem;
        }
    }
}
.additional-section{
    padding: 1rem;
    padding-top:0;
    display: flex;
    justify-content: space-between;
    h2{
        font-size: 1rem;
        font-weight:600;
        padding-top:0.2rem;
    }
}
