@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Newsreader:wght@300;400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Karla', 'Newsreader', sans-serif;
}

body {
  background: #c9c3c3;
}

.heading-section {
  color: #5d5355;
  margin: 2rem 0 1rem 0;
  padding: 1rem;
  text-align: center;
}

.heading-section h1 {
  letter-spacing: 3px;
  font-weight: 900;
  font-size: 2.5rem;
  font-family: 'Newsreader';
}

.heading-section h2 {
  margin-top: 1rem;
  font-family: 'Karla';
  font-weight: 400;
  font-style: italic;
}

.container {
  width: 26rem;
  min-height: 480px;
  margin: 0 auto;
  background-color: #978383;
  color: white;
}

.top-section {
  text-align: center;
  padding: 1.5rem 1rem 0.6rem 1rem;
  position: relative;
}

.top-section .wrong-input {
  display: none;
  text-align: left;
  font-family: 'Newsreader';
  color: #6e0000;
  padding: 0.2rem 0.6rem;
}

.top-section .wrong-input::first-letter {
  text-transform: capitalize;
}

.top-section .suggestions {
  text-align: left;
  margin-top: 2px;
  position: absolute;
  background-color: white;
  border-radius: 10px;
}

.top-section .suggestions div {
  padding: 0.4rem 0.6rem;
  font-size: 1rem;
  width: 14.5rem;
  color: #5d5355;
}

.top-section .suggestions div:hover {
  background-color: #978383;
  color: white;
  cursor: pointer;
}

.top-section .location-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.top-section .location-section .search-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.top-section .location-section .search-section #search {
  height: 2rem;
  width: 14.5rem;
  border: 1px solid white;
  border-radius: 20px;
  margin-right: 0.5rem;
  padding-left: 10px;
  font-size: 0.9rem;
  font-family: 'Karla';
  color: #5d5355;
}

.top-section .location-section .search-section #search::-webkit-input-placeholder {
  font-size: 0.9rem;
  padding-left: 0.1rem;
  font-family: 'Karla';
}

.top-section .location-section .search-section #search:-ms-input-placeholder {
  font-size: 0.9rem;
  padding-left: 0.1rem;
  font-family: 'Karla';
}

.top-section .location-section .search-section #search::-ms-input-placeholder {
  font-size: 0.9rem;
  padding-left: 0.1rem;
  font-family: 'Karla';
}

.top-section .location-section .search-section #search::placeholder {
  font-size: 0.9rem;
  padding-left: 0.1rem;
  font-family: 'Karla';
}

.top-section .location-section .search-section #search:focus {
  outline: none;
}

.top-section .location-section #dropdown {
  display: block;
  height: 2rem;
  font-size: 1rem;
  border: 1px solid white;
  border-radius: 20px;
  padding: 0 5px;
  color: #5d5355;
}

.top-section .location-section #dropdown:hover {
  cursor: pointer;
}

.top-section .location-section #dropdown:focus {
  outline: none;
}

.top-section .current-location {
  font-size: 2rem;
  position: relative;
}

.top-section .current-location:hover {
  cursor: pointer;
}

.top-section .current-location:hover .tooltip {
  display: block;
}

.top-section .current-location .tooltip {
  display: none;
  padding: 0.3rem 0.8rem;
  position: absolute;
  top: 2.5rem;
  left: 0rem;
  font-size: 0.8rem;
  font-family: 'Karla';
  font-weight: 700;
  color: #5d5355;
  background-color: White;
  border: 1px solid white;
  border-radius: 20px;
}

.date-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem;
}

.date-section .date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.date-section .date h4 {
  margin: 0 2px;
  font-family: 'Newsreader';
  font-weight: 500;
}

.date-section .date h4:first-child {
  margin-right: 5px;
}

.date-section .time-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.date-section .time-section h2 {
  font-weight: 500;
  font-size: 2.5rem;
}

.main-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem;
  padding-top: 0;
  margin-bottom: 1.5rem;
}

.main-section .current-weather-section h2 {
  font-size: 1rem;
}

.main-section .current-weather-section .degrees {
  margin: 1rem 0;
  font-size: 3rem;
}

.main-section .current-weather-section .current-weather {
  text-transform: capitalize;
}

.main-section .weather-icon-section {
  margin: 0.3rem 0.5rem;
}

.main-section .weather-icon-section .weather-icon {
  display: block;
  width: 9rem;
}

.additional-section {
  padding: 1rem;
  padding-top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.additional-section h2 {
  font-size: 1rem;
  font-weight: 600;
  padding-top: 0.2rem;
}
